<div class="container text-center">
  <% if current_user %>
    <div>Total Submission: <%= @user_submission.count %></div>
    <div>Total Accepted: <%= @user_submission.where(verdict_id: 1).count %></div>
    <div>Total Solved: <%= @user_submission.distinct.pluck(:problem_id).compact.count %></div>
    <%= link_to  "<button class='btn'>Problem Set</button>".html_safe, problems_path %>



  <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
  <% end %>
  <p id="notice"><%= notice %></p>
</div>