<!DOCTYPE html>
<html>
  <head>
    <title>AciOnlineJudge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header" id="myHeader">
    <div class="h2 d-inline">ACI Online Judge</div>
    <% if current_user %>
      <div class="float-right">
        Welcome <%= get_full_name @current_user.first_name, @current_user.last_name %>
        <div><%= link_to "<button class='btn'>Log Out</button>".html_safe, logout_path %></div>
      </div>




  <% else %>

  <% end %>

  </div>
    <%= yield %>
  </body>
</html>
